[Unit]
Description=Ammix Custom: Bootc Upgrade
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc upgrade
