[Unit]
Description=Bind mount /var/home/nix on /nix
Documentation=https://github.com/ammix/ammix-os
ConditionPathIsDirectory=/nix

[Mount]
What=/var/home/nix
Where=/nix
Type=none
DirectoryMode=0755
Options=bind

[Install]
WantedBy=local-fs.target
