IMAGE_NAME=ammix-os
REPO_ORGANIZATION=ammix
IMAGE_DESC="Fedora 44 COSMIC Atomic bootc image for the ammix workstation"
IMAGE_KEYWORDS="bootc,oci,fedora,cosmic"
IMAGE_LOGO_URL="https://github.com/ammix.png"
DEFAULT_TAG=latest
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
