SUBSYSTEM=="input", KERNEL=="event*", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="037a", TAG+="uaccess"
SUBSYSTEM=="misc", KERNEL=="uinput", TAG+="uaccess"
